@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

.section {
	padding: 16px;
}

p {
	margin-bottom: 16px;
	line-height: 24px;
}

h1,
h2 {
	margin-top: 24px;
	margin-bottom: 12px;
}
